@model SistemaEventos.Models.RegistroEvento

@{
    ViewData["Title"] = "Detalles";
}

<h1>Details</h1>

<div>
    <h4>RegistroEvento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventoID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventoID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParticipanteID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParticipanteID)
        </dd>
    </dl>
</div>
<div>
   
    <a asp-action="Index">Regresar</a>
</div>
